.text-mid ion-col{
    text-align: center;
   color: darkgray;
   font-weight: bold;
   border-top: solid 1px cornflowerblue;
   border-bottom: solid 1px cornflowerblue;
  }
  .color-text {
   font-weight: bold;
   
  }
  .background {
    background:red
  }
  .TT-name ion-col{
    color: black
  }