.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
.text-mid ion-col{
  text-align: center;
 color: darkgray;
 font-weight: bold;
 border-top: solid 1px cornflowerblue;
 border-bottom: solid 1px cornflowerblue;
}
.background-tt ion-col{
  background: deepskyblue ;
  border:solid 1px white;
  text-align: center;
  border-radius: 8%;
  color:darkolivegreen;
  font-weight: bold;
  
}
.icon_color{
  color: aliceblue;
  width: 50px;
}
.color-text {
  font-weight: bold;
  font: 50px
 }
 .img-avatar {
   margin-top: 20px;
   margin-left: 10px;
 }
 
   
