<ion-toolbar>
  
    <ion-grid  style="margin-top: 20px">

      <ion-row class="TT-name">
        <ion-col size="4" >

          <ion-avatar class="img-avatar">
            <img src="https://cdn3.iconfinder.com/data/icons/iconano-web-stuff/512/105-User-512.png" style="width: 150px" style="height: 80px">
          </ion-avatar>

        </ion-col>

        <ion-col size="8" style="line-height: 5px"  >
         <div *ngIf="liststudent">
          <ion-text   >
            <p>Tên:<span class="color-text">{{liststudent.name}}</span></p>
          </ion-text>

          <ion-text >
            <p>Tình trạng: <span class="color-text">.........</span></p>
          </ion-text>

          <ion-text >
            <p>MSSV: <span class="color-text">{{liststudent.MSSV}}</span></p>
          </ion-text>

          <ion-text >
            <p>Giới tính:<span class="color-text">{{liststudent.Sex}}</span></p>
          </ion-text>

          <ion-text>
            <p>Ngày sinh:<span class="color-text">{{liststudent.birthday}}</span></p>
          </ion-text>

          <ion-text >
            <p>Mã lớp:<span class="color-text">{{liststudent.class}}</span></p>
          </ion-text>
        </div>
      



        </ion-col>

      </ion-row>




    </ion-grid>
  
</ion-toolbar>


<ion-content>
<ion-grid class="text-mid">
  <ion-row>
    <ion-col>
      Thông Tin cá nhân
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid class="background-tt">
  <ion-row>

    <ion-col>

      <ion-icon name="bookmarks" class="icon_color"></ion-icon>
      <br>

      <a href="/thongtin"> Thông Tin</a>


    </ion-col>

    <ion-col>
      <ion-icon name="school" class="icon_color"></ion-icon>
      <br>
      <a href="/ketqua"> Kết quả học</a>
    </ion-col>
    <ion-col>
      <ion-icon name="paper" class="icon_color"></ion-icon>
      <br>
      <a href="/lichhoc">Lịch học lịch thi</a>
    </ion-col>
    
  </ion-row>

</ion-grid>



<ion-grid class="background-tt">
  <ion-row>
    <ion-col>
        <ion-icon name="log-out" class="icon_color"></ion-icon>
        <br>
        <a href="/login">log out</a>
    </ion-col>

    <ion-col>
        <ion-icon name="book" class="icon_color"></ion-icon>
        <br>
        <a href="/chitiet">Chi tiết</a>
    </ion-col>

    <ion-col>
    </ion-col>
  </ion-row>

</ion-grid>

<ion-grid class="background-tt">
  <ion-row>
    <ion-col>
      <ion-icon name="doi-pass" class="icon_color"></ion-icon>
        <br>
        <a href="">Đổi Mật Khẩu</a>
    </ion-col>

    <ion-col>
    </ion-col>

    <ion-col>
    </ion-col>
  </ion-row>

</ion-grid>


</ion-content>
