<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button color="primary" defaultHref="" (click)="goBack()"   ></ion-back-button>
        <ion-title> Thông Tin </ion-title>
      </ion-buttons>

    </ion-toolbar>
  </ion-header>
  

  <ion-toolbar>
  
    <ion-grid  style="margin-top: -10px">

      <ion-row class="TT-name">
        <ion-col size="4" >

          <ion-avatar class="img-avatar">
            <img src="https://cdn3.iconfinder.com/data/icons/iconano-web-stuff/512/105-User-512.png" style="width: 150px" style="height: 80px">
          </ion-avatar>

        </ion-col>

        <ion-col size="8" style="line-height: 5px"  >
         <div *ngIf="liststudent">
          <ion-text   >
            <p>Tên:<span class="color-text">{{liststudent.name}}</span></p>
          </ion-text>

          <ion-text >
            <p>Tình trạng: <span class="color-text">.........</span></p>
          </ion-text>

          <ion-text >
            <p>MSSV: <span class="color-text">{{liststudent.MSSV}}</span></p>
          </ion-text>

          <ion-text >
            <p>Giới tính:<span class="color-text">{{liststudent.Sex}}</span></p>
          </ion-text>

          <ion-text>
            <p>Ngày sinh:<span class="color-text">{{liststudent.birthday}}</span></p>
          </ion-text>

          <ion-text >
            <p>Mã lớp:<span class="color-text">{{liststudent.class}}</span></p>
          </ion-text>
        </div>
      



        </ion-col>

      </ion-row>




    </ion-grid>
  
</ion-toolbar>


<ion-content>
  <ion-grid class="text-mid">
    <ion-row>
      <ion-col>
        Thông Tin cá nhân
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <div *ngIf="liststudent"> 
    <ion-row>
      <ion-col size="4">
        Cơ sở:<span class="color-text">1</span>
      </ion-col>

      <ion-col size="8">
        Khóa:<span class="color-text">2018-2019</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Loại hình đào tạo: <span class="color-text">Cao đẳng</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Ngành:<span class="color-text">dasda</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Khoa:<span class="color-text">dasda</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Tên Lớp:<span class="color-text">dasda</span>
      </ion-col>
    </ion-row>
</div>
  </ion-grid>

</ion-content>


 
