<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button color="primary" defaultHref=""  ></ion-back-button>
        <ion-title> Thông Tin </ion-title>
      </ion-buttons>

    </ion-toolbar>
  </ion-header>
  

<ion-toolbar>
  <ion-title style="text-align: center">
    <ion-grid  >

      <ion-row class="TT-name">
        <ion-col size="3" style="margin-top: 65px,">

          <ion-avatar>
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>

        </ion-col>

        <ion-col size="4" style="line-height: 5px" >
          <ion-text >
            <p>Tên:<span class="color-text">dasda</span></p>
          </ion-text>

          <ion-text >
            <p>Tình trạng: <span class="color-text">dasda</span></p>
          </ion-text>

          <ion-text >
            <p>MSSV: <span class="color-text">dasda</span></p>
          </ion-text>

          <ion-text >
            <p>Giới tính:<span class="color-text">dasda</span></p>
          </ion-text>

          <ion-text>
            <p>Ngày sinh:<span class="color-text">dasda</span></p>
          </ion-text>

          <ion-text >
            <p>Mã lớp:<span class="color-text">dasda</span></p>
          </ion-text>



        </ion-col>

      </ion-row>




    </ion-grid>
  </ion-title>
</ion-toolbar>

<ion-content>
  <ion-grid class="text-mid">
    <ion-row>
      <ion-col>
        Thông Tin cá nhân
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        Cơ sở:<span class="color-text">dasda</span>
      </ion-col>

      <ion-col>
        Khóa:<span class="color-text">dasda</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Loại hình đào tạo: <span class="color-text">dasda</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Ngành:<span class="color-text">dasda</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Khoa:<span class="color-text">dasda</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Tên Lớp:<span class="color-text">dasda</span>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>

<ion-content>
  <div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail4" style="margin-left: 20px; color: white">Mã sinh viên</label>
              <input  class="form-control" id="inputEmail4" [(ngModel)]="edt_email">
            </div>
            <div class="form-group col-md-6">
              <label for="inputPassword4" style="margin-left: 20px; color: white">Mật khẩu</label>
              <input type="password" class="form-control" id="inputPassword4" width="50px" [(ngModel)]="edt_pass">
            </div>
           
          </div>
          <button (click)="btn_login()" type="button" class="btn btn-primary btn-sm" style="margin-left:23%; width: 200px">Đăng nhập</button>
          <p style="margin-left:33%"> Vui lòng đang nhập</p>
        </div>

</ion-content>
