<ion-header>
  <ion-toolbar>
      <ion-tabs>
          <ion-title>
              Tab Three
            </ion-title>
          <ion-tab-bar slot="bottom" > 
            <ion-tab-button style="size: 4cm">
              <ion-label> TỎNG QUAN </ion-label>
            </ion-tab-button>
        
            <ion-tab-button>
              <ion-label>
                <b> CHI TIẾT </b>
              </ion-label>
            </ion-tab-button>
          </ion-tab-bar>   
        </ion-tabs>
  </ion-toolbar>
</ion-header>

<ion-content>
   
        <table class="table table-bordered">
          
            <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">First</th>
                  <th scope="col">Last</th>
                  <th scope="col">Handle</th>
                  <th scope="col">Handle</th>
                </tr>
              </thead>
              
            <thead class="thead-dark">
              <tr>
                <th scope="col">STT</th>
                <th scope="col">Mã Môn</th>
                <th scope="col">Môn</th>
                <th scope="col">DVHT</th>
                <th scope="col">Điểm TB</th>
              </tr>
            </thead>
            
            <thead class="thead-dark">
                <tr>
                    <td colspan="5">Larry the Bird</td>
                </tr>
              </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>000212</td>
                <td>Cơ Sở Dữ Liệu</td>
                <td>2</td>
                <td>7.2</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
          
          <table class="table table-bordered">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>

   
          
</ion-content>


