<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
        <ion-back-button color="primary" defaultHref="" (click)="goBack()"></ion-back-button>
        <ion-title> Lịch Thi </ion-title>
      </ion-buttons>
    </ion-toolbar>
  </ion-header> 

<ion-content>
    <table class="table table-bordered">
        <div *ngIf="listdiem">
       
       
         <thead class="backgroun-table">
           <tr style="text-align: center">
             <th scope="col" width="10%">STT</th>
             <th scope="col"width="40%">Môn Học</th>
             <th scope="col"width="35%">Thời Gian</th>
             <th scope="col"width="10%">Số Tiết</th>
           </tr>
         </thead>
       
         <tr>
           <td colspan="5" style="background: black; color: white">1. Học kì I (2017-2018)</td>
         </tr>
       
         <tbody>
           <tr>
             <th scope="row">1</th>
             <td>Cấu trúc máy tính</td>
             <td>{{listdiem.LichThi.ctmt.time}}</td>
             <td>{{listdiem.LichThi.ctmt.phong}}</td>
           </tr>
       
           <tr>
             <th scope="row">2</th>
             <td>Toán Rời Rạc</td>
             <td>{{listdiem.LichThi.trr.time}}</td>
             <td>{{listdiem.LichThi.trr.phong}}</td>
           </tr>
           <tr>
             <th scope="row">3</th>
             <td>Cơ Sở Lập Trình</td>
             <td>{{listdiem.LichThi.cslt.time}}</td>
             <td>{{listdiem.LichThi.cslt.phong}}</td>
           </tr>
           <tr>
               <th scope="row">4</th>
               <td>CCNA1</td>
               <td>{{listdiem.LichThi.ccna.time}}</td>
               <td>{{listdiem.LichThi.ccna.phong}}</td>
             </tr>
         </tbody>
       
         <tr>
             <td colspan="5" style="background: black; color: white">2. Học kì I (2018-2019)</td>
           </tr>
       
           <tbody>
             <tr>
               <th scope="row">5</th>
               <td>Anh Văn A2</td>
               <td>{{listdiem.LichThi.AVA2.time}}</td>
               <td>{{listdiem.LichThi.AVA2.phong}}</td>
             </tr>
       
             <tr>
               <th scope="row">6</th>
               <td>Dữ Liệu Lớn</td>
               <td>{{listdiem.LichThi.ddl.time}}</td>
               <td>{{listdiem.LichThi.ddl.phong}}</td>
             </tr>
             <tr>
               <th scope="row">7</th>
               <td>Lập Trình Giao Diện Web</td>
               <td>{{listdiem.LichThi.ltddw.time}}</td>
               <td>{{listdiem.LichThi.ltddw.phong}}</td>
             </tr>
             <tr>
                <th scope="row">8</th>
                <td>Lập Trình Web Phía Máy Chủ</td>
                <td>{{listdiem.LichThi.ltwpmc.time}}</td>
                <td>{{listdiem.LichThi.ltwpmc.phong}}</td>
              </tr>
              <tr>
                  <th scope="row">9</th>
                  <td>Quản Lí Dự Án Phần Mềm</td>
                  <td>{{listdiem.LichThi.qldapm.time}}</td>
                  <td>{{listdiem.LichThi.qldapm.phong}}</td>
                </tr>
           </tbody>
       
          
       
          
         </div>
       </table>
</ion-content>
