<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="home" (click)="goBack()"></ion-back-button>
      <ion-title> KẾT QUẢ HỌC TẬP </ion-title>
    </ion-buttons>
   
  </ion-toolbar>
</ion-header> 

<ion-content>

<table class="table table-bordered">



  <thead class="backgroun-table">
    <tr style="text-align: center">
      <th scope="col">STT</th>
      <th scope="col">Mã Môn</th>
      <th scope="col">Môn</th>
      <th scope="col">DVHT</th>
      <th scope="col">Điểm TB</th>
    </tr>
  </thead>

  <tr>
    <td colspan="5" style="background: black; color: white">1. Học kì I (2017-2018)</td>
  </tr>

  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>000212</td>
      <td>Cơ Sở Dữ Liệu</td>
      <td>2</td>
      <td>7.2</td>
    </tr>

    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>@fat</td>
    </tr>
  </tbody>

  <tr>
      <td colspan="5" style="background: black; color: white">1. Học kì II (2017-2018)</td>
    </tr>

    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>000212</td>
        <td>Cơ Sở Dữ Liệu</td>
        <td>2</td>
        <td>7.2</td>
      </tr>

      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>@fat</td>
      </tr>
    </tbody>

    <tr>
      <td colspan="5" style="background: black; color: white">1. Học kì III (2017-2018)</td>
    </tr>

    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>000212</td>
        <td>Cơ Sở Dữ Liệu</td>
        <td>2</td>
        <td>7.2</td>
      </tr>

      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>@fat</td>
      </tr>
    </tbody>

    <tr>
      <td colspan="5" style="background: black; color: white">2. Học kì I (2018-2019)</td>
    </tr>

    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>000212</td>
        <td>Cơ Sở Dữ Liệu</td>
        <td>2</td>
        <td>7.2</td>
      </tr>

      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>@fat</td>
      </tr>
    </tbody>

    <tr>
      <td colspan="5" style="background: black; color: white">2. Học kì II (2018-2019)</td>
    </tr>

    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>000212</td>
        <td>Cơ Sở Dữ Liệu</td>
        <td>2</td>
        <td>7.2</td>
      </tr>

      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>@fat</td>
      </tr>
    </tbody>

    <tr>
      <td colspan="5" style="background: black; color: white">2. Học kì III (2018-2019)</td>
    </tr>

    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>000212</td>
        <td>Cơ Sở Dữ Liệu</td>
        <td>2</td>
        <td>7.2</td>
      </tr>

      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>@fat</td>
      </tr>
    </tbody>
</table>






</ion-content>