<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary" defaultHref="home" (click)="goBack()"></ion-back-button>
      <ion-title> KẾT QUẢ HỌC TẬP </ion-title>
    </ion-buttons>
   
  </ion-toolbar>
</ion-header> 

<ion-content>

<table class="table table-bordered">
 <div *ngIf="listdiem">


  <thead class="backgroun-table">
    <tr style="text-align: center">
      <th scope="col" width="10%">STT</th>
      <th scope="col"width="45%">Môn Học</th>
      <th scope="col"width="15%">Điểm Thi</th>
      <th scope="col"width="15%">Điểm TB</th>
      <th scope="col"width="15%">Điểm Chữ</th>
    </tr>
  </thead>

  <tr>
    <td colspan="5" style="background: black; color: white">1. Học kì I (2017-2018)</td>
  </tr>

  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Cấu trúc máy tính</td>
      <td>{{listdiem.DiemThi.ctmt.thi}}</td>
      <td>{{listdiem.DiemThi.ctmt.trungbinh}}</td>
      <td>{{listdiem.DiemThi.ctmt.chu}}</td>
    </tr>

    <tr>
      <th scope="row">2</th>
      <td>Toán Rời Rạc</td>
      <td>{{listdiem.DiemThi.trr.thi}}</td>
      <td>{{listdiem.DiemThi.trr.trungbinh}}</td>
      <td>{{listdiem.DiemThi.trr.chu}}</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Cơ Sở Lập Trình</td>
      <td>{{listdiem.DiemThi.cslt.thi}}</td>
      <td>{{listdiem.DiemThi.cslt.trungbinh}}</td>
      <td>{{listdiem.DiemThi.cslt.chu}}</td>
    </tr>
    <tr>
        <th scope="row">4</th>
        <td>CCNA1</td>
        <td>{{listdiem.DiemThi.ccna.thi}}</td>
        <td>{{listdiem.DiemThi.ccna.trungbinh}}</td>
        <td>{{listdiem.DiemThi.ccna.chu}}</td>
      </tr>
  </tbody>

  <tr>
      <td colspan="5" style="background: black; color: white">2. Học kì II (2017-2018)</td>
    </tr>

    <tbody>
      <tr>
        <th scope="row">5</th>
        <td>000212</td>
        <td>Cơ Sở Dữ Liệu</td>
        <td>2</td>
        <td>7.2</td>
      </tr>

      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>@fat</td>
      </tr>
    </tbody>

   

   
  </div>
</table>






</ion-content>